<div class="modal-backdrop"></div>
<div class="modal-content">
  <div class="button-fechar-container">
    <button icon="pi pi-times" class="button-fechar" (click)="close()">
      <span class="p-button-icon pi pi-times"></span>
    </button>
  </div>
  <div class="input-content" >
    <div class="float-container">
      <input  type="text" id="projeto"  [disabled]="true" [(ngModel)]="projectData.nomeProjeto" class="float-input" />
      <label for="projeto" class="float-label">Projeto</label>
    </div>
    <div class="card flex justify-content-center float-container">
      <textarea class="textarea-content"
        [(ngModel)]="projectData.descricao"
        id="descricao"
        type="text"
        class="float-input"
        pTextarea [disabled]="true"
        rows="3"
        cols="30"
        pInputTextarea
        [autoResize]="true">
      </textarea>
      <label for="descricao" class="float-label">Descrição</label>
    </div>
    <div class="calendar-container">
      <p-calendar
        [disabled]="true"
        [(ngModel)]="projectData.dataInicio"
        [showIcon]="true"
        inputId="startDate"
        class="calendar"
        dateFormat="dd/mm/yy"
      />
      <p-calendar
        [disabled]="true"
        [(ngModel)]="projectData.dataFim"
        [showIcon]="true"
        inputId="endDate"
        class="calendar"
        dateFormat="dd/mm/yy"
      />
    </div>
    <div class="float-container">
      <input type="text" id="usuario" [disabled]="true" [(ngModel)]="projectData.usuarioResponsavel.nome" class="float-input" />
      <label for="usuario" class="float-label">Usuario</label>
    </div>
    <div class="float-container">
      <input type="text" id="status" [disabled]="true" [(ngModel)]="projectData.status"  class="float-input"/>
      <label for="status" class="float-label">Status</label>
    </div>
    <div class="float-container">
      <input  type="text" id="prioridade" [disabled]="true" [(ngModel)]="projectData.prioridade" class="float-input"/>
      <label for="prioridade" class="float-label">Prioridade</label>
    </div>
  </div>
</div>
