<div class="modal-backdrop"></div>
<div class="modal-content">
  <form [formGroup]="createActivityForm" (ngSubmit)="onSubmit()">
    <div class="button-fechar-container">
      <button icon="pi pi-times" class="button-fechar" (click)="close()">
        <span class="p-button-icon pi pi-times"></span>
      </button>
    </div>
    <div class="input-content">
      <input type="text" formControlName="nomeAtividade" placeholder="Digite o nome da Atividade">
      <div class="card flex justify-content-center">
        <textarea class="textarea-content"
          formControlName="descricao"
          placeholder="Digite a descrição da Atividade"
          rows="3"
          cols="30"
          pInputTextarea
          [autoResize]="true">
        </textarea>
      </div>
      <div class="calendar-container">
        <p-calendar placeholder="Data de Inicio" formControlName="dataInicio" [(ngModel)]="date2" inputId="icondisplay"  [showIcon]="true" inputId="icondisplay" class="calendar"/>
        <p-calendar placeholder="Data de Fim" formControlName="dataFim" [(ngModel)]="date3" inputId="icondisplay" [showIcon]="true" inputId="icondisplay" class="calendar"/>
      </div>
      <p-dropdown
        formControlName="status"
        [(ngModel)]="selectedStatus"
        [options]="status"
        optionLabel="name"
        optionValue="code"
        placeholder="Selecione o status"
        [style]="{ minWidth: '14rem' }"
        class="dropdown-content">
      </p-dropdown>
      <p-dropdown
        formControlName="idUsuario"
        [(ngModel)]="selectedUsuarios"
        [options]="usuarios"
        optionLabel="nome"
        optionValue="id_usuarios"
        placeholder="Selecione o Usuario responsavel"
        [style]="{ minWidth: '14rem' }"
        class="dropdown-content">
      </p-dropdown>
      <p-dropdown
        formControlName="idProjeto"
        [(ngModel)]="selectedProjeto"
        [options]="projeto"
        optionLabel="nomeProjeto"
        optionValue="id_projeto"
        placeholder="Selecione o projeto"
        [style]="{ minWidth: '14rem' }"
        class="dropdown-content">
      </p-dropdown>
      <div class="button-salvar-container">
        <button class="button-salvar" type="button" (click)="onSubmit()" [disabled]="createActivityForm.invalid">Salvar</button>
      </div>
    </div>
  </form>
</div>
