<div class="modal-backdrop"></div>
<div class="modal-content">
  <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
    <div class="button-fechar-container">
      <button icon="pi pi-times" class="button-fechar" (click)="close()">
        <span class="p-button-icon pi pi-times"></span>
      </button>
    </div>
    <div class="input-content">
      <input type="text" formControlName="nome" [(ngModel)]="userData.nome">
      <input type="email" formControlName="email" [(ngModel)]="userData.email">
      <input type="password" formControlName="senha" [(ngModel)]="userData.senha">
      <p-dropdown
        formControlName="perfil"
        [(ngModel)]="userData.perfil"
        [options]="perfil"
        optionLabel="name"
        optionValue="code"
        placeholder="Selecione o perfil"
        [style]="{ minWidth: '14rem' }"
        class="dropdown-content">
      </p-dropdown>
      <div class="button-salvar-container">
        <button class="button-salvar" type="button" (click)="onSubmit()" [disabled]="editUserForm.invalid">Salvar</button>
      </div>
    </div>
  </form>
</div>
