<div class="head" [ngClass]="getHeadClass()">
  <div class="head-content">
    <div class="head-content-left">
      <div class="search-container">
        <div *ngIf="!canShowSearchAsOverlay" class="normal-search">
          <input type="search" class="search"
            placeholder="Pesquisar..." name="" id="">
          <i class="fas fa-search search-icon"></i>
        </div>
        <div *ngIf="canShowSearchAsOverlay">
          <button [cdkMenuTriggerFor]="searchOverlay"
            class="search-menu-btn ripple"
          >
            <i class="fas fa-search search-icon"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="head-content-right">
      <div class="head-menu">
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple" [cdkMenuTriggerFor]="notificationOverlay">
            <i class="fas fa-bell menu-icon"></i>
          </button>
        </div>
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple" >
            <i class="fas fa-comment menu-icon"></i>
          </button>
        </div>
        <div class="head-menu-item" >
          <button class="head-menu-item-btn ripple" [cdkMenuTriggerFor]="userOverlay" >
            <i class="fas fa-user menu-icon"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #searchOverlay>
  <div class="overlay overlay-search overlay-fall" cdkMenu>
    <input type="search" value="search" name="" id="" placeholder="Pesquisar...">
    <button class="search-btn">
      <i class="fas fa-search search-icon"></i>
    </button>
  </div>
</ng-template>

<ng-template #notificationOverlay>
  <div class="overlay overlay-notification overlay-fall" cdkMenu>
    <ul>
      <li class="notification-head-container">
        <div class="notification-head">Notificação</div>
          <span class="view-all-link">
            <a>Ver tudo</a>
          </span>
      </li>
      <li class="notification-message-container"
        *ngFor="let notification of notifications"
        cdkMenuItem
      >
        <i [class]="notification.icon"></i>
          <div>
            <div class="notification-subject">
              {{notification.subject}}
            </div>
            <p class="notification-desc">
              {{notification.description}}
            </p>
          </div>
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #userOverlay>
  <div class="overlay overlay-user overlay-fall" cdkMenu>
    <ul>
      <li *ngFor="let item of userItems" cdkMenuItem>
        <a>
          <i class="icon" [ngClass]="item.icon"></i>
          <span>{{item.label}}</span>
        </a>
      </li>
    </ul>
  </div>
</ng-template>
