<div class="surface-card shadow-2 border-round p-4">
  <div class="flex justify-content-end align-items-center mb-5 card-tarefas">
    <span class="text-xl text-900 font-medium">Projetos</span>
    <div style="display: flex; justify-content: flex-end; flex-grow: 1;">
      <button class="button-create-icon" (click)="openModalCreate()">
        <span class="p-button-icon pi pi-plus"></span>
      </button>
    </div>
  </div>
  <div class="surface-card shadow-2 border-round p-4 card-tarefas">
    <div class="table-header">
      <span>Nome</span>
      <span>Descrição</span>
      <span>Início</span>
      <span>Fim</span>
      <span>Ações</span>
    </div>

    <ul class="list-none p-0 m-0">
      <li class="table-row" *ngFor="let releaseHours of releaseHoursList">

        <span class="nome-com-icone">
          <span class="inline-flex justify-content-center align-items-center w-2rem h-2rem border-circle ">
          </span>
          {{ releaseHoursData.atividade.nomeAtividade }}
        </span>

        <span class="descricao">{{ releaseHours.descricao }}</span>
        <span class="data">{{ releaseHours.dataInicio }}</span>
        <span class="data">{{releaseHours.dataFim}}</span>

        <div class="action-buttons">
          <button class="edit-button" (click)="openModalEdit(releaseHours.id_lancamento_horas)">
            <i class="fa-regular fa-pen-to-square"></i>
          </button>
          <button class="view-button" (click)="openModalView(releaseHours.id_lancamento_horas)">
            <i class="pi pi-eye"></i>
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>

<!--app-criacao-projeto *ngIf="isModalCreateOpen" (closeModal)="closeModalCreate()"></app-criacao-projeto>
<app-view-project *ngIf="isModalViewOpen" [projectId]="selectedProjectId" (closeModalView)="closeModalView()"></app-view-project>
<app-edit-project-- *ngIf="isModalEditOpen" [projectId]="selectedProjectId" (closeModalEdit)="closeModalEdit()"></app-edit-project-->

