<div class="surface-card shadow-2 border-round p-4">
  <div class="flex justify-content-end align-items-center mb-5 card-tarefas">
    <span class="text-xl text-900 font-medium">Lancamento de Horas</span>
    <button class="button-create-icon" (click)="openModalCreate()">
      <span class="p-button-icon pi pi-plus"></span>
    </button>
  </div>
  <div class="surface-card shadow-2 border-round p-4 card-tarefas">
    <div class="table-header">
      <span>Atividade</span>
      <span>Usuario</span>
      <span>Descrição</span>
      <span>Data do Lancamento</span>
      <span>Início</span>
      <span>Fim</span>
      <span>Ações</span>
    </div>

    <ul class="list-none p-0 m-0">
      <li class="table-row" *ngFor="let releaseHours of releaseHoursList">

        <span class="nome-com-icone">
          <span class="inline-flex justify-content-center align-items-center w-2rem h-2rem border-circle ">
          </span>
          {{ releaseHoursData.atividade?.nomeAtividade }}
        </span>
        <span class="descricao">{{ releaseHoursData.user?.nome }}</span>
        <span class="descricao">{{ releaseHours.descricao }}</span>
        <span class="data">{{ releaseHours.dataLancamento }}</span>
        <span class="data">{{ releaseHours.dataInicio }}</span>
        <span class="data">{{releaseHours.dataFim}}</span>

        <div class="action-buttons">
          <button class="edit-button" (click)="openModalEdit(releaseHours.id_lancamentos_horas)">
            <i class="fa-regular fa-pen-to-square"></i>
          </button>
          <button class="view-button" (click)="openModalView(releaseHours.id_lancamentos_horas)">
            <i class="pi pi-eye"></i>
          </button>
        </div>
      </li>
    </ul>
  </div>
  <div class="pagination">
    <button [disabled]="currentPage === 1" (click)="changePage(1)"><<</button>
    <button [disabled]="currentPage === 1" (click)="changePage(currentPage - 1)"><</button>
    <button *ngFor="let page of getPages()" (click)="changePage(page)" [ngClass]="{'active': currentPage === page}">{{ page }}</button>
    <button [disabled]="currentPage === getPages().length" (click)="changePage(currentPage + 1)">></button>
    <button [disabled]="currentPage === getPages().length" (click)="changePage(getPages().length)">>></button>
</div>
</div>

<app-criacao-lancamento-horas *ngIf="isModalCreateOpen" (closeModal)="closeModalCreate()"></app-criacao-lancamento-horas>
<app-view-lancamento-horas *ngIf="isModalViewOpen" [releaseHoursId]="selectedReleaseHoursId" (closeModalView)="closeModalView()"></app-view-lancamento-horas>
<app-edit-lancamento-horas *ngIf="isModalEditOpen" [releaseHoursId]="selectedReleaseHoursId" (closeModalEdit)="closeModalEdit()"></app-edit-lancamento-horas>

