<div class="login-container">
  <div class="telaLogin">
    <form>
      <h1>Login<hr></h1>

      <div class="login-input-group">
        <i class="fa-regular fa-circle-user">
          <input type="email" name="email" placeholder="leonardo@gmail.com" id="email" >
        </i>
      </div>

      <div class="login-input-group">
        <label for="username">Password</label>
        <input type="password" name="password"  id="password" placeholder="********">
      </div>

      <div class="login-button-container">
        <button class="login-button" (click)="onSubmit()" type="submit">
          <span class="login-button-content">Login</span>
        </button>
      </div>
    </form>
  </div>
</div>
<!--app-login-card *ngIf="loginDatas" [loginDatasInput]="loginDatas"></-app-login-card-->
