<div class="login-container">
  <div class="login-left">
    <img src="assets/logo.jpg" alt="Imagem de Login">
  </div>
  <div class="login-right">
    <div class="login-form">
      <h1>LOGIN</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <label for="email">E-mail</label>
          <input type="email" id="email" formControlName="email" placeholder="email@mail.com">
          <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
            <small>Email inválido!</small>
          </div>
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" id="password" formControlName="password" placeholder="prestiword">
          <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
            <small>A senha deve ter pelo menos 6 caracteres!</small>
          </div>
        </div>
        <div class="remember-forgot">
          <label><input type="checkbox"> Remember me</label>
          <a href="#">Esqueceu a Senha?</a>
        </div>
        <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
      </form>
      <!--div class="signup-link">
        Não Tem Uma Conta? <a href="#">Inscrever-se</a>
      </!--div-->
    </div>
  </div>
</div>
