<div class="container">
  <div class="telaLogin">
    <form>
      <h1>Login</h1>

      <div class="input-group">
        <label for="username">Email:</label>
        <input type="email" name="email" placeholder="leonardo@gmail.com" id="email" >
      </div>

      <div class="input-group">
        <label for="username">Password:</label>
        <input type="password" name="password"  id="password" placeholder="********">
      </div>

      <div class="button-container">
        <button class="button" (click)="onSubmit()" type="submit">
          <span class="button-content">Login</span>
        </button>
      </div>
    </form>
  </div>
</div>
<app-login-card *ngIf="loginDatas" [loginDatasInput]="loginDatas"></app-login-card>
