<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapsed()">A</button>
    <div class="logo-text" *ngIf="collapsed">Angular</div>
    <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
      <i class="fas fa-times close-icon"></i>
    </button>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of navData">
      <a class="sidenav-nav-link" [routerLink]="[data.routerLink]"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
      >
        <i class="sidenav-link-icon" [class]="data.icon"></i>
        <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>
      </a>
    </li>
  </ul>
</div>








<!--p-toolbar styleClass="bg-indigo-800">
  <div class="p-toolbar-group-start">
    <p-button
      icon="pi pi-home"
      label="Dashboard"
      routerLink="/dashboard"
      styleClass="bg-indigo-800 p-button-secnondary"
      routerLinkActive="exact_route">
    </p-button>
  </div>
  <div class="p-toolbar-group-end">
    <p-button
      label="Logout"
      icon="pi pi-sign-out"
      styleClass="p-button-danger"
      (click)="handleLogout()"
    ></p-button>
  </div>
</-p-toolbar-->
