.surface-card {
  background: #ffffff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.table-header {
  display: grid;
  grid-template-columns: minmax(150px, 2fr) minmax(250px, 3fr) minmax(80px, 1fr) minmax(80px, 1fr) minmax(100px, 1.5fr) minmax(60px, 0.5fr);
  font-weight: bold;
  text-align: left;
  padding: 12px 16px;
  border-bottom: 2px solid #ddd;
  gap: 8px;
  font-size: 0.9rem;
  align-items: center;
}

.table-header {
  text-align: left; /* Align text to the left */
}

.table-row {
  display: grid;
  grid-template-columns: minmax(150px, 2fr) minmax(250px, 3fr) minmax(80px, 1fr) minmax(80px, 1fr) minmax(100px, 1.2fr) minmax(60px, 0.5fr);
  align-items: center;
  padding: 12px 16px;
  border: 1px solid #ddd;
  border-radius: 7px;
  margin-bottom: 10px;
  gap: 8px;
  font-size: 0.9rem;
}

.text-xl {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-tarefas {
  margin-bottom: 30px;
}

.table-row.CONCLUIDO {
  background-color: #eafbe2;
  border: 1px solid #008000;
}

.table-row.ABERTA {
  background-color: #ffebcc;
  border: 1px solid #ff9800;
}

.table-row.PAUSADA {
  background-color: #fff9c4;
  border: 1px solid #fbc02d;
}

.table-row span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.edit-button,
.view-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
}

.edit-button i {
  color: #ff9100;
}

.view-button i {
  color: #d63031;
}

.flex.justify-content-end.align-items-center.mb-5.card-tarefas {
  position: relative;
}

.button-create-icon {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #000;
  font-size: 20px;
  position: absolute;
  right: 0;
}

.button-create-icon:hover {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #15bd87;
  font-size: 20px;
}

.nome-com-icone {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 0;
}

.nome-com-icone span {
  display: inline-block;
  max-width: calc(100% - 20px);
  overflow: hidden;
  text-overflow: ellipsis;
}

.nome-com-icone i {
  flex-shrink: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button,
.pagination select {
  padding: 8px 12px;
  margin: 0 5px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button.active {
  background-color: #15bd87;
  color: white;
  border-color: #15bd87;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination select {
  padding: 8px;
}

.table-header span:first-child {
  padding-left: 1.6rem;
}

.table-header span:nth-child(2) {
  padding-left: 0.6rem;
}

.table-header span:nth-child(3) {
  padding-left: 1.5rem;
}

.table-header span:nth-child(4) {
  padding-left: 1.8rem;
}

.table-header span:nth-child(5) {
  padding-left: 1.9rem;
}

@media (max-width: 768px) {
  .table-header,
  .table-row {
    grid-template-columns: 1fr 1fr;
    font-size: 14px;
  }
}

.bg-green-500 {
  background-color: #e8f5e9;
}

.border-green-700 {
  border-color: #a5d6a9;
}

.text-green-700 {
  color: #388e3c;
}

.bg-blue-500 {
  background-color: #e3f2fd;
}

.border-blue-700 {
  border-color: #90caf9;
}

.text-blue-700 {
  color: #1976d2;
}

.bg-red-500 {
  background-color: #ffebee;
}

.border-red-700 {
  border-color: #ef9a9a;
}

.text-red-700 {
  color: #d32f2f;
}

.bg-gray-500 {
  background-color: #f5f5f5;
}

.border-gray-700 {
  border-color: #bdbdbd;
}

text-gray-700 {
  color: #424242;
}

.bg-gray-300 {
  background-color: #f0f0f0;
}

.bg-pending-400 {
  background: #fff8e1;
  color: #ffc107;
}

.bg-paid-400 {
  background: #e8f5e9;
  color: #4caf50;
}

bg-unpaid-400 {
  background: #ffebee;
  color: #f44336;
}

.bg-yellow-500 {
  background: #fffae6;
  color: #facc15;
}

.bg-orange-500 {
 background: #fcece0;
 color: #f97316; /* laranja */
}

.text-yellow-700 {
 color: #a16207;
}

.text-orange-700 {
 color: #c2410c;
}

.border-yellow-700 {
 border-color: #a17538;
}

.border-orange-700 {
 border-color: #c56f4c;
}
