<div class="surface-card shadow-2 border-round p-4">
  <div class="flex justify-content-end align-items-center mb-5 card-tarefas">
    <span class="text-xl text-900 font-medium">Atividades</span>
    <button class="button-create-icon" (click)="openModalCreate()">
      <span class="p-button-icon pi pi-plus"></span>
    </button>
  </div>
  <div class="surface-card shadow-2 border-round p-4 card-tarefas">
    <div class="table-header">
      <span>Nome</span>
      <span>Descrição</span>
      <span>Início</span>
      <span>Fim</span>
      <span>Status</span>
      <span>Ações</span>
    </div>

    <ul class="list-none p-0 m-0">
      <li class="table-row" *ngFor="let activity of activityList" [ngClass]="getStatusClass(activity.status)">

        <span class="descricao min-w-0rem">
          <span class="inline-flex justify-content-center align-items-center w-2rem h-2rem border-circle ">
            <i [ngClass]="getStatusIcon(activity.status)"></i>
          </span>
          {{ activity.nomeAtividade }}
        </span>

        <span class="descricao">{{ activity.descricao_atividade }}</span>
        <span class="data">{{ convertToDate(activity.dataInicio) | date: 'dd/MM/yyyy' }}</span>
        <span class="data">{{ convertToDate(activity.dataFim) | date: 'dd/MM/yyyy' }}</span>
        <span class="status">{{ activity.status }}</span>

        <div class="action-buttons">
          <button class="edit-button" (click)="openModalEdit(activity.idAtividade)">
            <i class="fa-regular fa-pen-to-square"></i>
          </button>
          <button class="view-button" (click)="openModalView(activity.idAtividade)">
            <i class="pi pi-eye"></i>
          </button>
        </div>
      </li>
    </ul>
  </div>
  <div class="pagination">
    <button [disabled]="currentPage === 1" (click)="changePage(1)"><<</button>
    <button [disabled]="currentPage === 1" (click)="changePage(currentPage - 1)"><</button>
    <button *ngFor="let page of getPages()" (click)="changePage(page)" [ngClass]="{'active': currentPage === page}">{{ page }}</button>
    <button [disabled]="currentPage === getPages().length" (click)="changePage(currentPage + 1)">></button>
    <button [disabled]="currentPage === getPages().length" (click)="changePage(getPages().length)">>></button>
</div>
</div>

<app-criacao-atividade *ngIf="isModalCreateOpen" (closeModal)="closeModalCreate()"></app-criacao-atividade>
<app-view-activity *ngIf="isModalViewOpen" [activityId]="selectedActivityId" (closeModalView)="closeModalView()"></app-view-activity>
<app-edit-activity *ngIf="isModalEditOpen" [activityId]="selectedActivityId" (closeModalEdit)="closeModalEdit()"></app-edit-activity>

