:root {
  --text-color: #fff;
  --background: #001e3c;
  --background-form: #002d5c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
  display:inline-flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.container {
  width: 400px;
  height: auto;
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-form);
  border-radius: 8px;
}

.telaLogin {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  max-width: 300px;
  gap: 10px;
}

.telaLogin input{
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: #fff;
  padding: 0 10px;
}
