:root {
  --text-color: #fff;
  --background: #001e3c;
  --background-form: #002d5c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  color: var(--text-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



