.surface-card {
  background: #ffffff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.text-xl {
  font-size: 1.25rem;
  font-weight: bold;
}

canvas {
  width: 100% !important;
  height: 300px !important; /* ou como preferir */
  flex-grow: 1;
}

.dashboard-container {
  padding: 20px;
}

/* Grid Layout */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 40px;
  gap: 1.5rem; /* Aumenta o espaçamento entre os cards */
}

.col-12 {
  grid-column: span 12;
}

.md\:col-3 {
  grid-column: span 4;
}

.md\:col-4 {
  grid-column: span 4;
}

/* Cards */
.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.534);
  overflow: hidden;

}

.card-shadow {
  box-shadow:  0 2px 10px rgba(0, 0, 0, 0.5);
}

.card-body {
  padding: 1.5rem;
}

.card-title {
  font-size: 1rem;
  color: #718096;
  margin-bottom: 0.75rem;
}

.card-space {
  border-left: 5px solid #ffa726;
}

.card-revenue {
  border-left: 5px solid #66bb6a;
}

.card-issues {
  border-left: 5px solid #ef5350;
}

.card-followers {
  border-left: 5px solid #29b6f6;
}

/* Charts */
.chart-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.chart-title {
  font-weight: bold;
  margin-bottom: 12px;
  text-align: center;
}

.chart-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.chart-container > div {
  width: 30%; /* Ajuste conforme necessário */
  min-width: 300px; /* Ajuste conforme necessário */
  margin-bottom: 20px;
}

/* Listas */
.list-group {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-group-item {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #29b6f6;
}

.list-group-item:last-child {
  border-bottom: none;
}

/* Progress Bar */
.progress-bar {
  background-color: #edf2f7;
  border-radius: 4px;
  height: 8px;
  overflow: hidden;
}

.progress-bar-fill {
  background: linear-gradient(90deg, #4facfe 0%, #00f2fe 100%);
  height: 100%;
  transition: width 0.4s ease;
}

/* Utility Classes */
.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.fs-4 {
  font-size: 1.5rem;
}

.fw-bold {
  font-weight: bold;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.d-block {
  display: block;
}

.legend {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  margin-top: 0.8rem;
}

.legend-item {
  display: inline-block;
  margin-right: 1rem;
}